---
http_interactions:
- request:
    method: post
    uri: http://dev.mollom.com/v1/captcha/TEST1qravn2ikcz0k1
    body:
      encoding: US-ASCII
      string: solution=correct
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="1ldx8h5kvvdsp108es5r54yidl1r8z75", oauth_nonce="BA6Z75guepi0WDXPpTZpGQ3TMJ0TeRrNYBO4dRq8",
        oauth_signature="YnQuwZxDPQF66PpJhg6isLrqtk4%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1403708812", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"code":"200","captcha":{"id":"TEST1qravn2ikcz0k1","solved":"1","reason":"Correct
        response to image captcha."}}'
  recorded_at: Wed, 25 Jun 2014 15:06:52 GMT
recorded_with: VCR 2.9.2
