---
http_interactions:
- request:
    method: post
    uri: http://dev.mollom.com/v1/content
    body:
      encoding: US-ASCII
      string: authorName=Jean-Luc%20Picard&postBody=Some%20text%20right%20over%20here%21&postTitle=My%20Title
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="1ldx8h5kvvdsp108es5r54yidl1r8z75", oauth_nonce="W4ny3BPOWLl8E71ysa2w4lcJPr1LDHDg4yKIDVF7Y",
        oauth_signature="n1Ycqalo4VOH5zAhid%2FpRZ9piBM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1403703780", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"code":"200","content":{"id":"TEST1up51ut7qyu2b1","spamScore":"0.5","reason":"some
        secret reason","postTitle":"My Title","postBody":"Some text right over here!","spamClassification":"unsure"}}'
  recorded_at: Wed, 25 Jun 2014 13:43:01 GMT
recorded_with: VCR 2.9.2
