---
http_interactions:
- request:
    method: post
    uri: http://dev.mollom.com/v1/site
    body:
      encoding: US-ASCII
      string: email=an-email%40gmail.com&platformName=Drupal&platformVersion=6.20&url=http%3A%2F%2Furl
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="1mkno2c8bsepo12ewu7v0mmpxro77o3u", oauth_nonce="QRonktJIdG1s6jvM7LB67Qzvte3VezIub4CI8dsfs",
        oauth_signature="RE3hx0n6I8x8KUmnsdxDL%2Fk2Mig%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1407260182", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"code":"200","site":{"publicKey":"44wvtjchwxaj1h90cqi1hxscwcpceylx","privateKey":"ton7cjeu271j15l94ip777uvv1pcgua3","url":"http://url","email":"an-email@gmail.com","platformName":"Drupal","platformVersion":"6.20","expectedLanguages":null}}'
  recorded_at: Tue, 05 Aug 2014 17:36:22 GMT
recorded_with: VCR 2.9.2
