---
http_interactions:
- request:
    method: post
    uri: http://dev.mollom.com/v1/content/TESTmh3q39o9ktwj13
    body:
      encoding: US-ASCII
      string: checks=spam&postBody=My%20modified%20body%21
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="1ldx8h5kvvdsp108es5r54yidl1r8z75", oauth_nonce="qroaXT4mKj3rIwC2lfpkgysGhHiCPApuo0Qm3gq5Mw",
        oauth_signature="b5ztrWOozW88e%2BWXjFqCOaT2jkU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1403894412", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"code":"200","content":{"id":"TESTmh3q39o9ktwj13","spamScore":"0.5","reason":"some
        secret reason","postBody":"My modified body!","spamClassification":"unsure"}}'
  recorded_at: Fri, 27 Jun 2014 18:40:12 GMT