---
http_interactions:
- request:
    method: post
    uri: http://dev.mollom.com/v1/captcha
    body:
      encoding: US-ASCII
      string: type=foobar
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="1ldx8h5kvvdsp108es5r54yidl1r8z75", oauth_nonce="3FmcNWXmkeAXa4YWFb9kdmZw7uUR49zRIPaL2MQAkI",
        oauth_signature="BnGynDQobVUH6TvNtqca1N%2FMdEM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1403708429", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"code":"200","captcha":{"id":"TEST1ddgajo9ldvw11","url":"http://dev.mollom.com/v1/captcha/TEST1ddgajo9ldvw11.mp3"}}'
  recorded_at: Wed, 25 Jun 2014 15:00:30 GMT
recorded_with: VCR 2.9.2
