---
http_interactions:
- request:
    method: post
    uri: http://dev.mollom.com/v1/whitelist/1lgj17lzuezlu1bn9ry4k3qz4k8nr42n
    body:
      encoding: US-ASCII
      string: context=authorIp&note=patate&value=123.123.80.22
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="b06465615b3a8800ef79ca947b1addca", oauth_nonce="vvBCc1km6nE0eqDGnb3v8KsQIwugF0H6z9VYBAoi5D0",
        oauth_signature="CkLPAklBHdtTXNwp20E39Nxq7f4%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1412787838", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"code":"200","entry":{"context":"authorIp","created":"1412787909465","id":"76747","lastMatch":"0","matchCount":"0","status":"1","value":"123.123.80.22"}}'
  recorded_at: Wed, 08 Oct 2014 17:03:58 GMT
recorded_with: VCR 2.9.2
