---
http_interactions:
- request:
    method: post
    uri: http://dev.mollom.com/v1/whitelist/1lgj17lzuezlu1bn9ry4k3qz4k8nr42n/76747
    body:
      encoding: US-ASCII
      string: context=authorName&value=patate
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - OAuth oauth_consumer_key="b06465615b3a8800ef79ca947b1addca", oauth_nonce="iCGPgyj77kMA1r1PNbc1luGMeD3awPTGS1k1WTNlXS0",
        oauth_signature="HWfaBwqszvmjdfk1QvJUIxClQvc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1412788255", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"code":"200","entry":{"context":"authorName","created":"1412787909465","id":"76747","lastMatch":"0","matchCount":"0","status":"0","value":"patate"}}'
  recorded_at: Wed, 08 Oct 2014 17:10:55 GMT
recorded_with: VCR 2.9.2
